.fade-enter {
    opacity: 0;
    transform: translateX(-20px);
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms cubic-bezier(0.34, 1.56, 0.64, 1), transform 1000ms cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  
  .fade-exit {
    opacity: 1;
    transform: translateX(0);
  }
  
  .fade-exit-active {
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 500ms cubic-bezier(0.34, 1.56, 0.64, 1), transform 1000ms cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  