.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
    background-color: #f0f4f8; /* Light background color */
}

.form-container {
    background-color: white; /* White background for the form */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 40px; /* Padding for spacing */
    width: 500px; /* Fixed width for larger screens */
    max-width: 90%; /* Responsive width */
    min-height: 600px; /* Set minimum height for appearance */
}

.header {
    text-align: center; /* Center header text */
    margin-bottom: 20px; /* Space below the header */
}

.logo {
    width: 50px; /* Adjusted logo size */
    margin-bottom: 10px; /* Space below the logo */
}

.label {
    display: block; /* Labels on their own line */
    margin-bottom: 5px; /* Space below labels */
    font-weight: bold; /* Make labels bold */
}

.input-field {
    width: 100%; /* Full width input fields */
    padding: 8px; /* Increased padding for better touch targets */
    margin-bottom: 15px; /* Space below inputs */
    border: 1px solid #ced4da; /* Border style */
    border-radius: 4px; /* Rounded corners for inputs */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for focus */
}

.input-field:hover {
    border-color: #a0a0a0; /* Change border color on hover */
}

.input-field:focus {
    border-color: #003A70; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(0, 58, 112, 0.5); /* Subtle shadow on focus */
    outline: none; /* Remove default outline */
}

.submit-button {
    background-color: #003A70; /* Button color */
    color: white; /* Text color */
    padding: 10px 15px; /* Padding for button */
    width: 100%; /* Full width button */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    font-weight: bold; /* Bold text for button */
}

.submit-button:hover {
    background-color: #00284d; /* Darker color on hover */
}

.error {
    color: red; /* Error message color */
    font-size: 0.875em; /* Smaller font for error messages */
}

.small-text {
    color: #666; /* Medium grey color for readability */
    font-size: 0.875em; /* Slightly smaller font size */
    margin-top: 5px; /* Space above small text */
    text-align: center; /* Centered text for clarity */
}
